{% extends "base.html.twig" %}

{% block title %} :: {{ user.naam }}{% endblock %}

{% block body %}

    <div class="grid-x">

        <div class="cell small-12 medium-3 photo-container">
            {% if user.afbeelding == "default" %}
            <img class="photo display-profile-photo" src="{{ asset('assets/img/defaultwerkgever.png') }}">
            {% else %}
            <img class="photo display-profile-photo" src="{{ asset('uploads/img/') ~ user.afbeelding }}">
            {% endif %}
        </div>

        <div class="cell small-12 medium-9">

            <div class="grid-x grid-padding-x display-profile-row">

                <div class="cell small-12">
                    <label class="form-label profile-label" for="naam">Naam werkgever</label>
                    <div class="display-profile">{{ user.naam }}</div>
                </div>

            </div>

            <div class="grid-x grid-padding-x display-profile-row">

                <div class="cell small-6">
                    <label class="form-label profile-label" for="email">E-mail</label>
                    <div class="display-profile">{{ user.email }}</div>
                </div>
                <div class="cell small-6">
                    <label class="form-label profile-label" for="telefoonnummer">Telefoonnummer</label>
                    <div class="display-profile">{{ user.telefoonnummer }}</div>
                </div>   

            </div>

            <div class="grid-x grid-padding-x display-profile-row">

                <div class="cell small-12">
                    <label class="form-label profile-label" for="adres">Adres</label>
                    <div class="display-profile">{{ user.adres }}</div>
                </div>

            </div>

            <div class="grid-x grid-padding-x display-profile-row">

                <div class="cell small-4">
                    <label class="form-label profile-label" for="postcode">Postcode</label>
                    <div class="display-profile">{{ user.postcode }}</div>
                </div>
                <div class="cell small-8">
                    <label class="form-label profile-label" for="plaats">Woonplaats</label>
                    <div class="display-profile">{{ user.plaats }}</div>
                </div>

            </div>

            <div class="grid-x grid-padding-x display-profile-row">

                <div class="cell small-12">
                    <h2 class=" display-profile-subtitle orange">Omschrijving werkgever</h2>
                    <p class="display-profile-box">
                        {% if user.tekst %}
                            {{ user.tekst|raw }}
                        {% else %}
                            {% if user.id == app.user.id %}
                                U heeft nog geen omschrijving van uw bedrijf/organisatie gegeven.
                            {% else %}
                                Deze werkgever heeft nog geen omschrijving.
                            {% endif %}
                        {% endif %}
                    </p>
                </div>

            </div>
            
        {% if user.id == app.user.id %}

        <div class="display-profile-buttons">
            <div class="button-container">
                <a class="button-small" href="{{ path('fos_user_profile_edit') }}">Bewerk uw profiel</a>
            </div>
            <div class="button-container">
                <a class="button-small" href="{{ path('fos_user_resetting_request') }}">Verander uw wachtwoord</a>
            </div>
        </div>

        {% endif %}


        </div>

    </div>


    <script>

        $(document).ready( function () {

            $(".display-profile").each( function () {
                if ($.trim($(this).html())=='') {
                    $(this).html("<em>onbekend</em>")
                } 
            })

        });

    </script>

{% endblock %}
