{% extends 'base.html.twig' %}

{% block title %} :: sollicitaties {{ vacature.vacaturetitel }} {% endblock %}


{% block body %}

<div class="grid-x">
    <div class="cell medium-3 show-for-medium photo-container">
        {% if user.afbeelding == "default" %}
        <img class="photo" src="{{ asset('assets/img/defaultwerkgever.png') }}">
        {% else %}
        <img class="photo" src="{{ asset('uploads/img/') ~ user.afbeelding }}">
        {% endif %}
    </div>
    <div class="cell small-12 medium-9">
        <h1 class="overview-title emp-vac-soll-title">Sollicitaties naar <br class="hide-for-medium">
             <a href="{{ path('vacature_detail', { 'vacature_id': vacature.id }) }}">{{ vacature.vacaturetitel }}</a></h1>
        <p class="emp-vac-soll-date bebas">Plaatsingsdatum: <span class="orange">{{ vacature.plaatsingsdatum|date("d-m-Y") }}</span></p>
        {% if vacature.sollicitaties is empty %}

        <p>Er heeft nog niemand gesolliciteerd op deze vacature.</p>

        {% else %}

        <table id="tabel-sollicitaties-vacature" class="tables-layout">
            <thead>
                <th>Datum</th>
                <th>
                    <span class="hide-for-medium">Soll.</span>
                    <span class="show-for-medium">Sollicitant</span>
                </th>
                <th class="center">
                    <span class="hide-for-medium">Mot.</span>
                    <span class="show-for-medium">Motivatie</span>
                </th>
                <th class="center" style="min-width: 80px;">
                    <span class="hide-for-medium">Uitn.</span>
                    <span class="show-for-medium">Uitnodiging</span></th>
            </thead>
            <tbody>
            {% for sollicitatie in vacature.sollicitaties %}
                 <tr>
                     <td>{{ sollicitatie.datum|date("d-m-Y") }}</td>
                     <td><a href="{{ path('bekijk_kandidaat', { 'cand_id': sollicitatie.user.id }) }}">
                         {{ sollicitatie.user.voornaam }} {{ sollicitatie.user.naam }}</a></td>

                     <td class="center">
                        {% if sollicitatie.motivatie %}
                            <a href="{{ path('motivatie_kandidaat', { 'cand_id': sollicitatie.user.id, 'emp_id': app.user.id, 'sollicitatie_id': sollicitatie.id }) }}">
                            <i class="fas fa-check soll-signs"></i></a>
                        {% else %}
                            <i class="fas fa-times soll-signs"></i>
                        {% endif %}
                    </td>

                     <td class="center" style="position: relative;">

                         {% if sollicitatie.uitnodiging == NULL or sollicitatie.uitnodiging matches '/0/' %}
                         <i class="fas fa-check orange soll-signs"
                            data-value="1" data-soll="{{ sollicitatie.id }}" data-cand="{{ sollicitatie.user.id }}" data-mot="{{ sollicitatie.motivatie }}"></i>
                        <span class="slash">/</span>
                         <i class="fas fa-times orange soll-signs"
                            data-value="2" data-soll="{{ sollicitatie.id }}" data-cand="{{ sollicitatie.user.id }}" data-mot="{{ sollicitatie.motivatie }}"></i>
                         {% endif %}

                         {% if sollicitatie.uitnodiging matches '/1/' %}
                         <i class="fas fa-check soll-signs"></i>
                         <i class="far fa-times-circle fa-sm orange undo-inv"
                            data-value="0" data-soll="{{ sollicitatie.id }}" data-cand="{{ sollicitatie.user.id }}" data-mot="{{ sollicitatie.motivatie }}"></i>
                         {% endif %}

                         {% if sollicitatie.uitnodiging matches '/2/' %}
                         <i class="fas fa-times soll-signs"></i>
                         <i class="far fa-times-circle fa-sm orange undo-inv"
                            data-value="0" data-soll="{{ sollicitatie.id }}" data-cand="{{ sollicitatie.user.id }}" data-mot="{{ sollicitatie.motivatie }}"></i>
                         {% endif %}
                    
                     </td>

                 </tr>   
            {% endfor %}
            </tbody>
        </table>

        {% endif %}

    </div>
</div>

<script>

    $(document).ready( function() {

        $(".orange.far, .orange.fas").click( function() {
            let id = $(this).data("soll");
            let cand = $(this).data("cand");
            let value = $(this).data("value");
            let mot = $(this).data("mot");

            $.ajax({
                url: "{{ path('ajax_uitnodiging', { 'user_id': app.user.id, 'vacature_id': vacature.id  }) }}",
                method: "POST",
                data: { id: id,
                        user_id: cand,
                        uitnodiging: value,
                        mot: mot },
                succes: function(response) { console.log(response); },
                error: function (request, status, error) { console.log(request.responseText); }
            })
            $(document).ajaxStop(function(){
                window.location.reload();
            });
        });
        

        $(".orange.far, .orange.fas").hover( function() {
            $(this).css("opacity", 0.5);
        }, function() {
            $(this).css("opacity", 1);
        });


        $('#tabel-sollicitaties-vacature').DataTable({
            dom: 'rtip',
            pagingType: "numbers",
            pageLength: 10,
            language: {"info": "Sollicitaties _START_ t/m _END_ (uit _TOTAL_ sollicitaties)" },
            "fnDrawCallback": function(oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                    $(oSettings.nTableWrapper).find('.dataTables_info').hide();    
                }
            },
        });

    });

</script>
{% endblock %}