{% trans_default_domain 'FOSUserBundle' %}


<div class="grid-x grid-padding-y">
    <div class="cell medium-3 show-for-medium photo-container">
        {% if app.user.afbeelding == "default" %}
            {% if is_granted("ROLE_CANDIDATE") %}
            <img class="photo" src="{{ asset('assets/img/users/defaultkandidaat.png') }}">
            {% else %}
            <img class="photo" src="{{ asset('assets/img/users/defaultbedrijf.png') }}">
            {% endif %}
        {% else %}
        <img class="photo" src="{{ asset('assets/img/users/') ~ app.user.afbeelding }}">
        {% endif %}
    </div>

    <div class="cell small-12 medium-9">

        <form name="form_bewerk_profiel"
                id="form_bewerk_profiel"
                enctype="multipart/form-data">

            <div class="grid-x grid-padding-x">

                {% if is_granted("ROLE_CANDIDATE") %}
                <div class="cell small-4">
                    <label class="form-label profile-label" for="voornaam">Voornaam</label>
                    <input type="text" class="form-input profile-input" id="voornaam"
                            name="voornaam" maxLength="50" value="{{ app.user.voornaam }}">
                </div>
                <div class="cell small-8">
                    <label class="form-label profile-label" for="naam">Achternaam</label>
                    <input type="text" class="form-input profile-input" id="naam"
                            name="naam" maxLength="50" value="{{ app.user.naam }}">
                </div>

                {% else %}
                <div class="cell small-12">
                    <label class="form-label profile-label" for="naam">Naam organisatie</label>
                    <input type="text" class="form-input profile-input" id="naam"
                            name="naam" maxLength="50" value="{{ app.user.naam }}">
                </div>
                {% endif %}

            </div>

            <div class="grid-x grid-padding-x">

                <div class="cell small-12">
                    <label class="form-label profile-label" for="email">E-mail</label>
                    <input type="text" class="form-input profile-input" id="email"
                            name="email" required="required" value="{{ app.user.email }}">
                </div>

            </div>

            <div class="grid-x grid-padding-x">

                {% if is_granted("ROLE_CANDIDATE") %}
                <div class="cell small-4">
                    <label class="form-label profile-label" for="geboortedatum">Geboortedatum</label>
                    <input type="date" class="form-input profile-input" id="geboortedatum"
                            name="geboortedatum" min="1900-01-01" max="{{ 'now'|date('Y-m-d') }}" value="{{ app.user.geboortedatum|date('Y-m-d') }}">
                </div>
                <div class="cell small-8">
                {% else %}

                <div class="cell small-12">
                {% endif %}
                    <label class="form-label profile-label" for="telefoonnummer">Telefoonnummer</label>
                    <input type="text" class="form-input profile-input" id="telefoonnummer"
                            name="telefoonnummer" max-length="20" value="{{ app.user.telefoonnummer }}">
                </div>   

            </div>

            <div class="grid-x grid-padding-x">

                <div class="cell small-12">
                    <label class="form-label profile-label" for="adres">Adres</label>
                    <input type="text" class="form-input profile-input" id="adres"
                            name="adres" maxLength="50" value="{{ app.user.adres }}">
                </div>

            </div>

            <div class="grid-x grid-padding-x">

                <div class="cell small-4">
                    <label class="form-label profile-label" for="postcode">Postcode</label>
                    <input type="text" class="form-input profile-input" id="postcode"
                            name="postcode" maxLength="10" value="{{ app.user.postcode }}">
                </div>
                <div class="cell small-8">
                    <label class="form-label profile-label" for="plaats">{% if is_granted("ROLE_CANDIDATE") %} Woonplaats                                                                                                    {% else %} Vestigingsplaats {% endif %}</label>
                    <input type="text" class="form-input profile-input" id="plaats"
                            name="plaats" maxLength="50" value="{{ app.user.plaats }}">
                </div>

            </div>

            <div class="grid-x grid-padding-x grid-padding-y">

                <div class="cell small-12">
                    <h2 class="orange"> 
                        {% if is_granted("ROLE_CANDIDATE") %} Motivatie
                                                {% else %}    Omschrijving van het bedrijf {% endif %}
                    </h2>
                    <label for="tekst">
                        <div id="quill_tekst" class="quill_tekst">
                            {{ app.user.tekst }}
                        </div>
                        <input name="tekst" id="tekst" type="hidden">
                    </label>
                </div>

            </div>

            <div class="grid-x grid-padding-x">

                <div class="cell small-6">
                    {% if is_granted("ROLE_CANDIDATE") %}  
                    <label for="cv" class="form-label profile-label">CV</label>
                    <input type="file" name="cv" id="cv"
                            class="form-input profile-input"
                            value = "{{ app.user.cv }}"
                            accept=".pdf, .doc, .docx, .xls, .xlsx, .ppt, .pptx">
                    {% endif %}
                    <label for="afbeelding" class="form-label profile-label">Afbeelding</label>
                    <input type="file" name="afbeelding" id="afbeelding"
                            class="form-input profile-input"
                            value = "{{ app.user.afbeelding }}"
                            accept="image/*">
                </div>
                
                <div class="cell small-6">
                    <div class="profile-submit-wrapper">
                        <label for="submit">
                            <i class="fas fa-arrow-right orange form-submit-arrow bijwerken-arrow"></i>
                        <input class="bebas orange form-submit bijwerken" id="submit" type="button" value="{{ 'profile.edit.submit'|trans }}" />
                    </div>
                </div>

            </div> 

        </form>

    </div>
</div>

<script>

    let role = "{{ app.user.roles[0] }}";
    let placeholder;
    if (role == "ROLE_CANDIDATE") {
        placeholder = "Waarom wil je in de IT-sector werken?";
    } else if (role == "ROLE_EMPLOYER") {
        placeholder = "Wat kan u vertellen over uw bedrijf?"
    }


    let quill = new Quill('#quill_tekst', {
        theme: 'snow',
        modules: {
            toolbar: [['bold', 'italic']]
        },
        placeholder: placeholder        
    });

    $(document).ready( function() {

        $("#submit").click(function(e) {

            $("#tekst").val($("#quill_tekst").text());

            $.ajax({
                url:"{{ path('ajax_profiel', { 'user_id': app.user.id }) }}",
                method: "POST",
                data: $('#form_bewerk_profiel').serialize(),
                success: function() {
                    window.location.href = "{{ path('bekijk_kandidaat', { 'cand_id': app.user.id }) }}";
                }
            });
             
        });

    });
    
</script>