{% trans_default_domain 'FOSUserBundle' %}


<div class="grid-x grid-padding-x profile-overview-container">
    <div class="cell medium-3 show-for-medium photo-container">
        {% if user.afbeelding == "default" %}
            {% if is_granted("ROLE_CANDIDATE") %}
            <img class="photo" src="{{ asset('assets/img/users/defaultkandidaat.png') }}">
            {% else %}
            <img class="photo" src="{{ asset('assets/img/users/defaultbedrijf.png') }}">
            {% endif %}
        {% else %}
        <img class="photo" src="{{ asset('assets/img/users/') ~ user.afbeelding }}">
        {% endif %}
    </div>

    <div class="cell small-12 medium-9">

        <h1 class="orange profile-title">Mijn profiel</h1>

        <table id="profile-overview" class="tables-layout">
            <tr>
            {% if is_granted("ROLE_CANDIDATE") %}
                <th>Voornaam:</th>
                <td>{{ app.user.voornaam }}</td>
            </tr>
            <tr>
                <th>Achternaam:</th>
            {% else %}
                <th>Naam organisatie:</th>
            {% endif %}
                <td>
                    {% if app.user.naam is empty %}
                    <span class="profile-overview-empty">onbekend</span>
                    {% else %}
                    {{ app.user.naam }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>E-mail:</th>
                <td>{{ app.user.email }}</td>
            </tr>
            {% if is_granted("ROLE_CANDIDATE") %}
            <tr>
                <th>Geboortedatum:</th>
                <td>{{ app.user.geboortedatum|date('d-m-Y') }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Telefoonnummer:</th>
                <td>{{ app.user.telefoonnummer }}</td>
            </tr>
            <tr>
                <th>Adres:</th>
                <td>{{ app.user.adres }}</td>
            </tr>
            <tr>
                <th>Postcode:</th>
                <td>{{ app.user.postcode }}</td>
            </tr>
            <tr>
                <th>
                    {% if is_granted("ROLE_CANDIDATE") %}
                    Woonplaats:
                    {% else %}
                    Vestigingsplaats
                    {% endif %}
                </th>
                <td>{{ app.user.plaats }}</td>
            </tr>
            <tr>
                <th>Afbeelding:</th>
                <td>
                    {% if app.user.afbeelding == "default" %}
                    <span class="profile-overview-empty">nog niet geüpload</span>
                    {% else %}
                    <i class="fas fa-check fa-2x orange"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>
                    {% if is_granted("ROLE_CANDIDATE") %}
                    Motivatie:
                    {% else %}
                    Omschrijving:
                    {% endif %}
                </th>
                <td>
                    {% if app.user.tekst is empty %}
                    <span class="profile-overview-empty">onbekend</span>
                    {% else %}
                    <i class="fas fa-check fa-2x orange"></i>
                    {% endif %}
                </td>
            </tr>
            {% if is_granted("ROLE_CANDIDATE") %}
            <tr>
                <th>Cv</th>
                <td>
                    {% if app.user.cv is empty %}
                    <span class="profile-overview-empty">nog niet geüpload</span>
                    {% else %}
                    <i class="fas fa-check fa-2x orange"></i>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </table>

        <div>
            <div class="button-container">
                <a class="button-small" href="{{ path('fos_user_profile_edit') }}">Bewerk
                                                        {% if is_granted('CANDIDATE') %}je
                                                                                {% else %}dit
                                                                                {% endif %}profiel
                </a>
            </div>
            <div class="button-container">
                <a class="button-small" href="{{ path('fos_user_resetting_request') }}">Verander
                                                            {% if is_granted('CANDIDATE') %}je
                                                                                    {% else %}uw
                                                                                    {% endif %}wachtwoord
                </a>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready( function () {

    $("td").each( function () {
        if ($.trim($(this).html())=='') {
            $(this).html("onbekend").addClass("profile-overview-empty");
        } 
    })

});

</script>