{% extends 'base.html.twig' %}

{% block title %} :: vacatures{% endblock %}


{% block body %}

<div class="grid-y homepage-body">
    <div class="tabel-container">

        <table id="tabel-vacatures" class="tables-layout">
            <thead>
                <th></th>
                <th>Vacature</th>
                <th>
                    <span class="hide-for-medium">Datum</span>
                    <span class="show-for-medium">Geplaatst</span>
                </th>
                <th class="show-for-small hide-for-medium">Omschrijving</th>
                <th>Niveau</th>
                <th>Bedrijf</th>
                <th>
                    <span class="hide-for-medium-only">Standplaats</span>
                    <span class="show-for-medium-only">Plaats</span>
                </th>
            </thead>
            <tbody>
                
                {% for vacature in data %}
                <tr>
                    <td class="overview-icon-container" style="vertical-align: middle;">
                        <img class="overview-icon hex" src="{{ asset('assets/img/icons/') ~ vacature.afbeelding }}">
                    </td>
                    
                    <td class="overview-text-container" style="vertical-align: middle;">
                        <a href="{{ path('vacature_detail', { 'vacature_id': vacature.id }) }}">
                            <h2 class="overview-title">{{ vacature.vacaturetitel }}</h2>
                        </a>
                        <p class="overview-text show-for-medium">{{ vacature.vacaturetekst|striptags }}</p>
                    </td>

                    <td style="vertical-align: middle;">
                        {{ vacature.plaatsingsdatum|date("d-m-Y") }}
                    </td>

                    <td class="show-for-small hide-for-medium">
                        <p class="overview-text">{{ vacature.vacaturetekst }}</p>
                    </td>

                    <td style="vertical-align: middle;">
                        {{ vacature.werkniveau }}
                    </td>

                    <td style="vertical-align: middle;">
                        <a href="{{ path('bekijk_werkgever', { 'emp_id': vacature.user.id }) }}">
                            {{ vacature.user.naam }}
                        </a>
                    </td>
                    
                    <td style="vertical-align: middle;">
                        {{vacature.standplaats }}
                    </td>
                </tr>    

                {% endfor %}

            </tbody>
        </table>

    </div>
 </div>   

    
    <script>

    $(document).ready( function() {
    
        $('#tabel-vacatures').DataTable({
            responsive: true,
            order: [[2, "desc"]],
            pageLength: 10,
            language: {
                "emptyTable":     "Geen vacatures beschikbaar",
                "info":           "Resultaten _START_ t/m _END_ van _TOTAL_ vacatures",
                "infoEmpty":      "0 t/m 0 uit 0 resultaten",
                "infoFiltered":   "(gefilterd uit _MAX_ resultaten)",
                "lengthMenu":     "Aantal resultaten: _MENU_",
                "loadingRecords": "Laden...",
                "processing":     "Verwerken...",
                "search":         "Zoeken",
                "zeroRecords":    "Geen vacatures gevonden op basis van deze zoekresultaten",
                "paginate": {
                    "first":      "Eerste",
                    "last":       "Laatste",
                    "next":       "Volgende",
                    "previous":   "Vorige"
                }
            },
            "fnDrawCallback": function(oSettings) {
                if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                    $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                }
            },
        }).responsive.recalc();
    
    });
    </script>

{% endblock %}
