<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VacIT{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/foundation/assets/css/foundation.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/datatables/datatables.min.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/vacit-main.css') }}">


        <script type="text/javascript" src="{{ asset('assets/jquery/jquery-3.5.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/foundation/assets/js/foundation.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/datatables/datatables.min.js') }}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
        <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.21/sorting/datetime-moment.js"></script>
        {% block javascripts %}{% endblock %} 
    </head>

    <body>
        <div class="grid-container full">
            <div class="grid-y">

                <div class="cell shrink header">
                    <header>

                        <div class="title-bar" data-responsive-toggle="header-menu" data-hide-for="medium">
                            <div class="title-bar-left">
                                <div class="title-bar-title">
                                    <a href="{{ path('homepage') }}">
                                        <img class="logo" src="{{ asset('assets/img/vacit-logo-white.png') }}">
                                    </a>
                                </div>
                            </div>
                            <div class="title-bar-right">
                                <button class="menu-icon" type="button" data-toggle="header-menu"></button>
                            </div>
                        </div>

                        <div class="top-bar" id="header-menu">
                            <div class="top-bar-left show-for-medium">
                                <a href="{{ path('homepage') }}">
                                    <img class="logo" src="{{ asset('assets/img/vacit-logo-white.png') }}">
                                </a>
                            </div>
                            <div class="top-bar-right">
                                <ul class="dropdown menu" data-dropdown-menu>
                                    
                                    {% if is_granted('ROLE_USER') %}

                                        {% if is_granted('ROLE_CANDIDATE') %}
                                        <li><a href="{{ path('bekijk_kandidaat', { 'cand_id': app.user.id }) }}">Mijn profiel</a></li>
                                        <li><a href="{{ path('sollicitaties_kandidaat', { 'user_id': app.user.id }) }}">Mijn sollicitaties</a></li>
                                        {% endif %}
                                        {% if is_granted('ROLE_EMPLOYER') %}
                                        <li><a href="{{ path('bekijk_werkgever', { 'emp_id': app.user.id }) }}">Mijn profiel</a></li>
                                        <li><a href="{{ path('vacatures_werkgever', { 'user_id': app.user.id }) }}">Mijn vacatures</a></li>
                                        {% endif %}
                                    <li><a href="{{ path('fos_user_security_logout') }}">Uitloggen</a></li>

                                    {% else %}
                                    <li><a href=" {{ path('fos_user_registration_register') }}">Registreren</a></li>
                                    <li><a href="{{ path('fos_user_security_login') }}">Inloggen</a></li>
                                    {% endif %}   
                                    
                                </ul>
                            </div>
                        </div>

                    </header>
                    <span class="triangle-top"></span>
                </div>


                <div class="cell auto body">
                    
                    <main>

                    {% for error in app.flashes('error') %}
                        <div class=" flash flash-error">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {% for success in app.flashes('success') %}
                        <div class="flash flash-success">
                            {{ success }}
                        </div>
                    {% endfor %}
            

                        {% block body %}{% endblock %}
                        
                    </main>
                </div>

                
                <div class="cell shrink footer">
                    <span class="triangle-bottom"></span>
                    <footer>
                    
                    <div class="hide-for-medium">
                        <div class="grid-x grid-padding-x address">
                            <div class="cell small-6">
                                <h2>Adres</h2>
                                <p>Poststraat 2B<br>
                                6135 KR Sittard</p>
                            </div>
                            <div class="cell small-6">
                                <img class="logo footer-logo-small" src="{{ asset('assets/img/vacit-logo-white.png') }}">
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x privacy">
                            <div class="cell small-6">
                                <h2>Privacy</h2>
                                <p>Lees hier onze<a href=""><br>
                                <span style="color: white;">privacy-richtlijnen</span></a></p>
                            </div>
                        </div>
                    </div>

                    <div class="show-for-medium">
                        <div class="grid-x grid-padding-x grid-padding-y">
                            <div class="cell medium-3">
                                <img class="logo footer-logo" src="{{ asset('assets/img/vacit-logo-white.png') }}">
                            </div>
                            <div class="cell medium-3">
                                <h2 class="footer-titles">Adres</h2>
                                <p>Poststraat 2B<br>
                                6135 KR Sittard</p>
                            </div>
                            <div class="cell auto">
                                <h2 class="footer-titles">Privacy</h2>
                                <p>Lees hier onze<a href=""><br>
                                    <span style="color: white;">privacy-richtlijnen</span></a></p>

                            </div>
                        </div>
                    </div>
                        
                    </footer>
                </div>  

            </div>
        </div>
    </body>
    

    <script>
    $(document).ready(function() {

        $(document).foundation()

        $.fn.dataTable.moment('DD-MM-YYYY');

    })
    </script>

</html>
