{% extends "base.html.twig" %}

{% block title %} :: motivatie {{ soll.user.voornaam }} {{ soll.user.naam }}{% endblock %}


{% block body %}

    <div class="grid-x grid-padding-x medium-padding-collapse">
        <div class="cell small-12 medium-3 photo-container">

            {% if soll.user.afbeelding == "default" %}
            <img class="photo hex" src="{{ asset('assets/img/defaultkandidaat.png') }}">
            {% else %}
            <img class="photo hex" src="{{ asset('uploads/img/') ~ soll.user.afbeelding }}">
            {% endif %}

        </div>
        <div class="cell small-12 medium-9">

            <h1 class="motivatie-titel">
                Motivatie van
                <a href="{{ path('bekijk_kandidaat', { 'cand_id': soll.user.id }) }}">{{ soll.user.voornaam }} {{ soll.user.naam }}</a> <br>
                voor de vacature
                <a href="{{ path('vacature_detail', { 'vacature_id': soll.vacature.id }) }}">{{ soll.vacature.vacaturetitel }}</a>
            </h1>

        </div>
    </div>

    <div class="grid-x grid-padding-x medium-padding-collapse">
        <div class="cell auto show-for-medium"></div>
        <div class="cell small-12 medium-9 motivatie-tekst-container">

                {% if soll.motivatie is empty %}
                        <p>Deze kandidaat heeft geen extra motivatie opgegeven.</p>
                {% else %}
                    {{ soll.motivatie|raw }}
                {% endif %}

            

        </div>
    </div>

    <script>
        
        $(document).ready( function() {

            $(".motivatie-tekst-container p").addClass("motivatie-tekst");

        });
    </script>
    
{% endblock %}