{% extends "base.html.twig" %}


{% block title %} :: sollicitatie {{ vacature.vacaturetitel }}{% endblock %}

{% block stylesheets %} <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet"> {% endblock %}
{% block javascripts %} <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script> {% endblock %}


{% block body %}

    <div class="grid-x">
        <div class="cell small-12 medium-3 photo-container" style="max-height: 100px;">

            {% if user.afbeelding == "default" %}
            <img class="photo hex" src="{{ asset('assets/img/defaultkandidaat.png') }}">
            {% else %}
            <img class="photo hex" src="{{ asset('uploads/img/') ~ user.afbeelding }}">
            {% endif %}

        </div>

        <div class="cell small-12 medium-9">
            <h1 class="motivatie-titel">Sollicitatie naar <a href="{{ path('vacature_detail', { 'vacature_id': vacature.id } ) }}">{{ vacature.vacaturetitel }}</a></h1>
        </div>
    </div>
    <div class="grid-x">
        <div class="medium-3 show-for-medium"></div>


        <div class="small-12 medium-9">

            <form class="quill_soll">     
                <h2 class="orange">Motivatie</h2>

                <div class="grid-x">
                    <div class="cell small-12">

                        <label for="tekst">
                            <div id="quill_motivatie" class="quill_tekst"></div>
                        </label>

                    </div>
                </div>
                
                <div class="grid-x">
                    <div class="cell small-6">
                        <p class="quill-subtext">
                            Je motivatie is afgeschermd voor andere gebruikers. <br>
                            Alleen de werkgever en jijzelf kunnen dit zien.
                        </p>
                    </div>
                    <div class="cell small-6 submit-wrapper">
                        <label for="submit">
                            <i class="fas fa-arrow-right orange form-submit-arrow solliciteer-arrow"></i>
                        <input class="bebas orange form-submit solliciteer" id="submit" type="button" value="solliciteer">
                    </div>
                </div>

            </form>

        </div>
    </div>


    <script>

        let quill = new Quill('#quill_motivatie', {
            theme: 'snow',
            modules: { toolbar: [['bold', 'italic']] },
            placeholder: "Schrijf hier je motivatie. Je kunt deze stap overslaan, maar kandidaten met een motivatie maken meer kans."   
        });

        $(document).ready( function() {

            $("#submit").click(function(e) {

                let tekst = quill.root.innerHTML;

                $.ajax({
                    url:"{{ path('ajax_sollicitatie', { 'user_id': user.id, 'vacature_id': vacature.id }) }}",
                    method: "POST",
                    data: { motivatie: tekst },
                    success: function() {
                        window.location.href="{{ path('vacatureoverzicht') }}";
                    },
                    error: function() {
                        alert("Er is iets fout gegaan. Neem contact op met de beheerder van de website.");
                    }
                });
                
            });
            
        });

    </script>
    
{% endblock %}